# Ignore directories with HEPfit code
bat_mod/ 
code/
HEPfit/

# Ignore all plots, except for kappa_lambda
*.pdf
!*deltalHHH_HLLHC*.pdf
!*pull_*.pdf
!*klam_*.pdf
!*kappa_*.pdf
!*final.pdf
!*Higgs_potential*

# Ignore all configuration files
# *.conf
*.root

.DS_Store

# Fits_HLLHC_FCCee/
# Fits_HLLHC_ILC_250/
# Fits_HLLHC_ILC_250_350_500_1000/
# IDM_fits/
# illustrations/
# ProcessHistograms/
# setup_scripts/
# Z2SSM_fits_energy_dependence/


# Files ignored for the melis_code branch
Fits_HLLHC_FCCee/
Fits_HLLHC_ILC_250/
illustrations/
ProcessHistograms/
HL-LHC_Kappa_Lambda_Uncertainties/

IDM_fits/Fits_HLLHC_FCCee/
IDM_fits/Fits_HLLHC_ILC_250/
IDM_fits/ProcessHistograms/
IDM_fits/Self_consistent_IDM_fits/
IDM_fits/Uncertainty_estimation/

Z2SSM_fits_energy_dependence/Fits_HLLHC_FCCee/
Z2SSM_fits_energy_dependence/Fits_HLLHC_ILC_250/
Z2SSM_fits_energy_dependence/ProcessHistograms/
Z2SSM_fits_energy_dependence/Uncertainty_estimation/

setup_scripts/create_python_env.sh
setup_scripts/run_minuit.sh
setup_scripts/setup_python_env.sh
setup_scripts/setup_rocky8.sh
setup_scripts/setup_rocky9.sh
setup_scripts/setup_rocky9_bat_mod.sh