# Ignore directories with HEPfit code
bat_mod/ 
code/
HEPfit/

# Ignore all plots, except for kappa_lambda
*.pdf
!*delta_HHH_HLLHC.pdf
!*delta_HHH_HLLHC_mod.pdf

# Ignore all configuration files
# *.conf
*.root

.DS_Store

# Fits_HLLHC_FCCee/
# Fits_HLLHC_ILC_250/
# Fits_HLLHC_ILC_250_350_500_1000/
# IDM_fits/
# illustrations/
# ProcessHistograms/
# setup_scripts/
# Z2SSM_fits_energy_dependence/

